* {
  box-sizing: border-box;
}

html {
	
	background-image: url(../images/bg/rps.jpg);
	background-size: cover;
	min-height: 100%;
}

body {
	margin: 0px;
	font-family: 'Poppins', Arial, sans-serif;
	font-size: 15px;
	margin-bottom: 0px;
}

a {
	color: #ffffff;
	font-style: none;
	font-variant: none;
	text-decoration: none;
}

a:hover {
	color: #d8931c;
	font-style: none;
	font-variant: none;
	text-decoration: none;
}

#header {
	max-width: 980px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
	background: rgba(53,53,53,.6);
	clear: both;
	margin-bottom: 0px;
	margin-top: 10px;
	text-align: center;
	/*box-shadow: 15px 15px 7px rgba(0, 0, 0, 0.6);*/
	border-left: 0px solid #ededed;
	border-top: 0px solid #ededed;
}

#header-inner {
	width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	border: none;
	text-align: center;
}

#container {
	max-width: 980px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 5px;
	clear: both;
	padding-bottom: 10px;
	padding-top: 0px;
	background: rgba(255,255,255,.1);
	box-shadow: 15px 15px 7px rgba(0, 0, 0, 0.6);
	border-left: 0px solid #999999;
	border-top: 0px solid #999999;
	/*background-image: url('../images/rps-bg.png');*/
	background-size: 100%;
	background-repeat: no-repeat;
}

#main-content {
	width: 100%;
	padding: 5px;
	text-align: left;
	vertical-align: middle;
	margin-bottom: 0px;
	margin-top: 0px;
	/*border: 1px solid #ff8e09;*/
	border-top: none;
	
}

#main-content-inner { 
	width: 100%;
	height: 100%;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 20px;
	vertical-align: top;
}

h1 {
	color: #ffFFFF;
	font-size: 40px;
	font-family: 'Amatica SC', Arial, sans-serif;


}



button.play-again {

	background: #ff8e09;
	color: #ffffff;
	font-size: 13px;
	font-family: 'Oxygen', Arial, sans-serif;
	padding: 7px;
	padding-left: 12px;
	padding-right: 12px;
	margin: 2px;
	border: 0px;
	outline-style: none;
}

button.login-user {

	background: #ff8e09;
	color: #ffffff;
	font-size: 13px;
	font-family: 'Oxygen', Arial, sans-serif;
	padding: 7px;
	padding-left: 12px;
	padding-right: 12px;
	margin: 2px;
	border: 0px;
	outline-style: none;
}

input.login-username {
	padding: 7px;
	margin-right: 10px;
	width: 200px;
	background: rgba(255,255,255,1);
	outline-style: none;
	outline-offset: 0;
	border: 1px solid #bdbdbd;
	font-size: 14px;
	color: #ff8e09;
	font-weight: bold;

}


button.add-chat {

	background: rgba(0,0,0,.3);
	color: #ffffff;
	font-size: 16px;
	border: 1px solid #bdbdbd;
	font-family: 'Oxygen', Arial, sans-serif;
	padding: 7px;
	padding-left: 12px;
	padding-right: 12px;
	margin: 0px;
	margin-top: 0px;
	outline-style: none;
}

button.add-chat:hover {

	background: rgba(255,155,0,.8);
	color: #ffffff;
	
}

input.chat-text {
	padding: 7px;
	margin-right: 10px;
	width: 240px;
	background: rgba(0,0,0,.3);
	outline-style: none;
	outline-offset: 0;
	border: 1px solid #bdbdbd;
	font-size: 15px;
	color: #ffffff;
	font-weight: bold;
	display: inline-block;
	padding-top: 10px;

}

#buttons {
	width: 100%;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

#rps {
	width: 100%;
	text-align: center;
	margin: 0px;
	padding: 0px;
	display:hidden;
}

#gameSpace {
	display: table;
	width: 100%;
	text-align: center;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
}
#gameUpdates {
	width: 100%;
	padding: 0px;
	text-align: center;
	margin-bottom: 20px;
}

#gameUpdates h1 {
	font-family: 'Amatica SC', Arial, sans-serif;
	color: #FFFFFF;
	font-size: 30px;
	margin: 0px;
	padding: 0px;
	letter-spacing: .05em;

}

#gameboardElements {
	width: 100%;
	text-align: center;
	display: table;

}

.playerName {
	font-family: 'Amatica SC', Arial, sans-serif;
	color: #FFFFFF;
	font-size: 36px;
	padding-bottom: 20px;

}

.playerBox {
	padding: 20px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 33%;
	margin:20px;
	background: rgba(0,0,0,.3);
	border: 1px solid #b8b8b8;
	box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
}

#chatForm {

	vertical-align: middle;
	align: center;
}

#chatBox {
	padding: 0px;
	display: hidden;
	vertical-align: top;
	text-align: center;
	width: 100%;
	
}

#chatOut {
	font-family: 'Amatica SC', Arial, sans-serif;
	padding: 10px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin:20px;
	width: 600px;
	background: rgba(0,0,0,.3);
	border: 1px solid #b8b8b8;
	box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
	color: #ffffff;
	font-size: 24px;
}

span.wins {
	text-align: right;
}

.playerButtons {
	padding: 10px;
	display: inline-block;
	height: 100%;
	width: 45%;

}

#playResults {
	width: 31%;
	padding: 10px;
	border: none;
	display: inline-block;
	height: 100%;

}

.playerLabel h4 {
	font-family: 'Amatica SC', Arial, sans-serif;
	color: #ffffff;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
	letter-spacing: .1em;
	margin-top: -75px;

}

.playerLabel h1 {
	font-family: 'Amatica SC', Arial, sans-serif;
	font-size: 60px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 40px;
	padding: 0px;
	line-height: 60px;

}

.playerLabel {
	margin-bottom: 40px;
}


#gameBoard {
	width: 39%;
	padding-top: 40px;
	display: table-cell;
	text-align: center;
}

#watchers {
	width: 100%;
	text-align: center;
	color: #666666;
	font-family: 'Oxygen', Arial, sans-serif;
	font-size: 30px;
	padding: 30px;

}

.avatar {
	width: 100%;
}

.avatar-right {
}

.avatar h3 {
	font-family: 'Amatica SC', Arial, sans-serif;
	color: #FFFFFF;
	font-size: 30px;
	margin: 0px;
	padding: 0px;
	padding-bottom: 10px;
	line-height: 30px;
}

.avatarImg {
	height: 250px;
}

#logo {
	padding-top: 0px;
	padding-bottom: 5px;


}

.icon {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
}

.icon-img {
	height: 70px;
	width: 70px;
	margin-bottom: 10px;
	opacity: .8;

}

.rock {
	
}

.paper {
	
}

.scissors {
	
}

#center-column {
	padding: 0px;
	margin: 0px;
	display: table-cell;
}



#footer {
	width: 100%;
	margin: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 0px;

	/*position: fixed;
	bottom: 0;
	left: 0;*/
}
#footer-inner {
	max-width: 980px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 0px;
	padding-right: 20px;
	padding-left: 20px;
	font-family: 'Oxygen', Arial, sans-serif;
	color: #FFFFFF;
	font-size: 12px;
}

#footer-inside {
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	/*background: linear-gradient(#000000, #363636);*/
}

#footer a {
	color: #ff8e09;
	font-style: none;
	font-variant: none;
	text-decoration: none;
}

#footer a:hover {
	color: #d8931c;
	font-style: none;
	font-variant: none;
	text-decoration: none;
}

.emphasis {
	color: #20a28e;
	margin-right: 10px;
	font-size: 22px;
}

.avatar h3 span.orange {
	color: #ff8e09;
	font-size: 40px;
	font-family: 'Covered By Your Grace', Arial, sans-serif;
}

span.orange {
	color: #ff8e09;
}



.blue {
	color: #ff8e09;
	font-size: 36px;

}



.stat-block {
	margin-bottom: 10px;
}

.small-icon {
	display: table-cell;
	vertical-align: middle;
}

.small-icon img {
	height: 40px;
	margin-right: 20px;
	display: inline-block;
}

.stat {
	font-family: 'Oxygen', Arial, sans-serif;
	color: #ffffff;
	font-size: 16px;
	display: table-cell;
	padding: 10px;
	padding-left: 15px;
	margin-right: 20px;
	vertical-align: middle;
}

.stat-label {
	font-family: 'Oxygen', Arial, sans-serif;
	color: #ff8e09;
	font-size: 16px;
	margin-left: 10px;
}

.stat-table-label {
	width: 100%;
	text-align: middle;
	margin-right: 30px;
}

.stats {
	margin-left: 30px;
}

.rps-logo {
	max-width: 400px;

}

@media screen and (max-width: 768px) {

	#container {
	
	padding-left: 0px;
	padding-right: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 5px;
	clear: both;
	padding-bottom: 50px;
	padding-top: 0px;
	background: rgba(0,0,0,.8);
	box-shadow: none;
	border-left: none;

	}

	.rps-logo {
		max-width: 300px;
	}

	#chatOut {
	
	margin:10px;
	width: 300px;
	padding: 8px;
	
}

	#main-content {
	width: 100%;
	padding: 0px;
	text-align: left;
	vertical-align: middle;
	margin-bottom: 0px;
	margin-top: 0px;
	/*border: 1px solid #ff8e09;*/
	border-top: none;
	height: 100%;
	}

	#logo {
	padding-top: 15px;
	padding-bottom: 0px;

	}

	#header {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	margin-left: auto;
	margin-right: auto;
	
	clear: both;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: center;
	box-shadow: none;
	/*box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.6);*/
	border-left: none;
	border-top: none;
	}

	.playerName {
	font-family: 'Amatica SC', Arial, sans-serif;
	font-size: 30px;
	padding-bottom: 20px;

	}

	html {
	



	}

	#footer-inner {
	
	font-family: 'Oxygen', Arial, sans-serif;
	color: #999999;
	font-size: 12px;
}
	



}


@media screen and (max-width: 408px) {

.playerBox {
	padding: 5px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 33%;
	margin:10px;
	background: rgba(0,0,0,.3);
	border: 1px solid #b8b8b8;
	box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
}

.avatar h3 span.orange {
	font-size: 20px;
	padding: 0px;
	margin: 0px;

}

.avatar h3 {
	font-size: 20px;
	padding: 0px;
	margin: 0px;


}

.playerName {
	font-family: 'Amatica SC', Arial, sans-serif;
	font-size: 25px;
	padding-bottom: 5px;

	}

	#chatOut {
	font-family: 'Amatica SC', Arial, sans-serif;
	padding: 4px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin:10px;
	background: rgba(0,0,0,.3);
	border: 1px solid #b8b8b8;
	box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
	color: #ffffff;
	font-size: 18px;
}

}


	